:root {

    /* Text colors */
    --mainTextColor: #eee;
    --secondTextColor: #333;
    --importantElementColor: #F5B95F;

    /* Quizz buttons color */
    --quizzTrueColor: #F5B95F;
    --quizzFalseColor: #DC6363;
    --quizzBackground: #333;
    --quizzContour: #eee;

}


* {
    box-sizing: border-box;
    font-family: 'Poppins', Verdana, sans-serif;


}

body {
    margin: 0;
    padding: 0;
    background: rgb(30, 39, 58);
    background: linear-gradient(0deg, rgba(30, 39, 58, 1) 17%, rgba(45, 58, 88, 1) 52%, rgba(47, 85, 125, 1) 100%);
}


/* MAIN */
main {
    padding: 5vw;
}

/* HEADER */

.background {
    height: 100vh;
    background-image: url(soleil_paradis_piou_piouV2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.navbar{
    height: 8vh;
    display: flex;
    justify-content: space-between;
}


.logo{
    padding: 1em 1.5em;
}

.logo img{
    width: 50px;
    height: 50px;   
    transform: rotate(60deg);
}

.title{
    text-align: center;
    position: relative;
    top: 27vh;
    font-family:  'Poppins', Verdana, sans-serif;
}
h1{
    margin: 0;
}
p{
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid #2f557d; */
    /* border-radius: 15px; */
    color: #eee;
    /* background-color: #2f557d; */
}

.boat {
    position: absolute;
    width: 300px;
    top: 30vh;
}

/* This allows us to make the boat move up and down infinitely. One up and down move takes 5seconds*/
.boat_active {
    animation: moveBoat 5s ease-in-out infinite;
}
/*This keyframe states the area for the animation on the boat*/
@keyframes moveBoat {
    0% {
        top: 30vh; /*vh = view height*/
    }
     50% {
        top: 35vh;
    } 
}

/* QUIZZ SECTION */
.article {
    display: grid;
    grid-template-rows: 20fr 20fr 20fr;
    padding: 5vw;
}

.headerQuizz {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonQuizz {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20fr 20fr;
    grid-template-rows: 20fr 20fr;
    gap: 10px;
    max-width: 65ch;
}

.answer {
    color: var(--mainTextColor);
    background-color: transparent;
    border-color: var(--quizzContour);
    border-radius: 12px;
    height: 10vh;
    width: auto;
    font-size: 1.2em;
}

.answer:hover {
    cursor: pointer;
}

.picto img {
    height: 10vh;
    width: 10vw;
    min-width: 65px;
    max-width: 130px;
    margin-top: 10vw;
}

h2 {
    margin: 0;
    padding: 2vw;
    color: var(--importantElementColor);
    font-size: 1.8em;
}

div.buttonQuizz {
    padding: 2vw;
}

.explanation {
    margin: 0;
    padding: 2vw;
    font-size: 1.2em;
    text-align: center;
}

.true {
    background-color: var(--quizzTrueColor);
}
.false {
    background-color: var(--quizzFalseColor);
}

.explanation {
    display : none;
}

.stopClick {
    pointer-events: none;
}

/* SECTION ASSOCIATION */

.association>p {
    color: var(--mainTextColor);
    text-align: center;
}

.associationImportantText {
    color: var(--importantElementColor)
}

.associationParent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0;
    justify-items: center;
    margin: 2rem;

}

.childBloom {
    grid-area: 1 / 1 / 2 / 2;

}

.childSea {
    grid-area: 1 / 3 / 2 / 4;

}

.childOdyssey {
    grid-area: 2 / 2 / 3 / 3;

}

.childAlgalita {
    grid-area: 3 / 1 / 4 / 2;

}

.childRider {
    grid-area: 3/ 3 / 4 / 4;

}

/* div logo circle */
.circle {
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    display: inline-block;
    border: 0.5px solid white;
}

.bloom {
    background-image: url(bloom_logo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.seashepherd {
    background-image: url(seasheperd_logo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.plasticodyssey {
    background-image: url(plasticodyssey_logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.algalita {
    background-image: url(alaglita_logo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.surfrider {
    background-image: url(surfrider_logo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* HR */

hr {
    width: 80vw;
    justify-content: center;
}

/* FOOTER */

footer {
    color: var(--mainTextColor);
}

h3,
.wildersPresentation,
ul {
    text-align: center;
    padding-bottom: 2vh;
    padding-top: 2vh;
}

h3 {
    padding-top: 2vh;
    padding-bottom: 2vh;
    color: var(--importantElementColor);
}

footer>ul {
    margin: 0;
    padding: 0;
    padding-bottom: 2vh;
    display: grid;


    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 1rem;
}

footer>ul>li {
    list-style-type: none;
    display: flex;
    justify-content: center;
}


.wilder {
    all: unset;
    cursor: pointer;
}


.name {
    font-size: 0.8em;
    color: var(--importantElementColor);
}